<app-navigation></app-navigation>
<app-hero title="{{title}}" subtitle="{{subtitle}}" heroClass="{{heroType}}" heroSize="{{heroSize}}"></app-hero>
<section class="section">
  <div class="field">
    <label class="label">Application name</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="title">
    </div>
  </div>
  <div class="field">
    <label class="label">Application motto</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="subtitle">
    </div>
  </div>
  <div class="field">
    <label class="label">Hero class</label>
    <div class="control">
      <div class="select">
        <select [(ngModel)]="heroType">
          <option value="is-danger">Danger</option>
          <option value="is-info">Info</option>
          <option value="is-link">Link</option>
          <option value="is-primary">Primary</option>
          <option value="is-success">Success</option>
          <option value="is-warning">Warning</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Hero size</label>
    <div class="control">
      <div class="select">
        <select [(ngModel)]="heroSize">
          <option value="is-small">Small</option>
          <option value="is-medium">Medium</option>
          <option value="is-large">Large</option>
          <option value="is-fullheight">Fullsize</option>
        </select>
      </div>
    </div>
  </div>
  <div class="section">
    <app-button-bar></app-button-bar>
  </div>
</section>