<section class="section has-text-centered">
    <app-button buttonClass="is-primary">Hey I am a button</app-button>
    <app-button buttonClass="is-link">Hey I am another button</app-button>
    <app-button buttonClass="is-danger">Kitchen sinks are pretty boring</app-button>
    <app-button buttonClass="is-warning">But it is the first exercise we should do</app-button>
</section>