<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="/assets/image/dabo.png" height="128">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{item.link}}" *ngFor="let item of links"
        [ngClass]="{'is-hoverable has-dropdown' :item.sublinks}">
        <ng-template [ngIf]="!item.sublinks" [ngIfElse]="loading">
          {{item.text}}
        </ng-template>
        <ng-template #loading>
          <a class="navbar-link">
            {{item.text}}
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" *ngFor="let sublink of item.sublinks">
              {{sublink.text}}
            </a>
          </div>
        </ng-template>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-link">
            <strong>Sign up</strong>
          </a>
          <a class="button is-danger">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>